{% extends 'base.html' %}

{% block content %}
    <div class="mx-auto max-w-2xl p-8 rounded-3xl bg-slate-800 text-white">
        <h1 class="mb-6 text-2xl font-semibold">huddle-{{ huddle.key }}</h1> 
        <form action="{% url 'huddle' %}?user={{ user }}&key={{ huddle.key }}" class="space-y-6" method="post">
            {% csrf_token %}
            <input type="hidden" name="user" value="{{ user }}">
            <textarea name="content" id="" class="w-full py-4 px-6 bg-slate-600 text-white rounded-xl" placeholder="Enter your message"></textarea>
            <button class="w-32 py-4 px-6 bg-sky-600 rounded-xl text-white">Submit</button>
        </form>
        <div class="mt-6 space-y-6">
            {% for item in huddle.items.all %}
                <div class="py-4 px-8 bg-slate-600 text-white rounded-xl">
                    <h2 class="font-semibold">by {{ item.user }}@{{ item.created_at|timesince }} ago</h2>
                    <p>{{ item.content }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}